/* RegisterForm.css */
.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5PX 2px 15px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.register-form div {
  margin-bottom: 0.1em;
}

.register-form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.register-form input,
.register-form select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.register-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-form .error {
  color: red;
}

.register-form .success {
  color: green;
}
